---
# Only the main Sass file needs front matter (the dashes are enough)
---
//
// Main sass file, to import all styles
//

@charset "utf-8";

$spacing-unit:     30px;
$super-search:     rgba(0, 191, 255, 0.85);
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base",
        "layout",
        "syntax-highlighting",
        "post",
        "search"
;

@media screen and (min-width: 1024px) {
	

	.mdl-mega-footer--drop-down-section, .mdl-mega-footer--drop-down-section:nth-child(3), .mdl-mega-footer--drop-down-section:nth-child(4), .mdl-mega-footer__drop-down-section, .mdl-mega-footer__drop-down-section:nth-child(3), .mdl-mega-footer__drop-down-section:nth-child(4) 
	{
	width: 33.3333333333%;
	}

}
.mdl-layout__header-row {
	padding: 0 10%;
}

.mdl-layout.is-small-screen .mdl-layout--large-screen-only {
	display:block;
}

.mdl-layout__title, .mdl-layout-title {
	font-family: $font-family !important;
}

@media screen and (max-width: 1024px) {
	.mdl-layout__header-row {
		padding: 0 8%;
	}
}


.mdl-layout__header {
	background-color: mediumslateblue;

	a {
		color:white !important;
		text-decoration:none;
	}
}


