---
layout: layout
title: Blog
---

<div class="container">
<h2>Words</h2>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
		{% if post.category contains 'blog' %}
			<div class="row">
				 <div class="col-sm-4 col-md-4 col-lg-4">
					 <h5 class="post-date">
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
				 <div class="col-sm-8 col-md-8 col-lg-8">
					 <h5 class="post-title">
					 	<strong><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></strong>
					 </h5>
				 </div>
			</div>
			{% endif %}
	    {% endfor %}
	</div>
  </div>
</div>