---
layout: layout
title: Work
---

<div class="container">
<h2>Work</h2>
<!--   <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
		{% if post.category contains 'project' %}
			<div class="row">
				 
				 <div class="col-sm-6 col-md-6 col-lg-6">
				 	<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" class="img-responsive"></a>

				 </div>

				 <div class="col-sm-6 col-md-6 col-lg-6">
				  <h5 class="project-title">
					 	<strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong></h5>
					 <h5 class="project-date">
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
			</div>
			{% endif %}
	    {% endfor %}
	</div>
  </div>
</div> -->

 <div class="panel panel-default">
    <div class="panel-body">
{% for post in site.posts %}
		{% if post.category contains 'project' %}

<article class="article tile col-sm-12 col-md-6 col-lg-4">
  <div class="article-image" style="background:url({{ post.image }});background-position: center; border-radius: 2px 2px 0 0; height: 220px; max-width: 100%;background-repeat: no-repeat;background-size: cover;"></div>
  <section class="article-body">
    <p class="article-tags">{{ post.note }}</p>
    <h2 class="article-heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
  </section>
 
  <footer class="article-footer">
    <ul class="article-links">
      <li><a href="{{ site.baseurl }}{{ post.url }}">View Project</a></li>
    </ul>
  </footer>
</article>
{% endif %}
	    {% endfor %}
</div>
</div>