---
layout: layout
title: Work
---

<div class="container">
<h2>Work</h2>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
		{% if post.category contains 'project' %}
			<div class="row">

			<a href="{{ site.baseurl }}{{ post.url }}">
			 <div class="col-sm-8 col-md-8 col-lg-8" class="work-image-bg">
				 	<!-- <img src="{{ post.image }}" class="img-responsive"> -->

				 </div></a>
				 
				<!--  <div class="col-sm-8 col-md-8 col-lg-8">
				 	<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" class="img-responsive"></a>

				 </div> -->

				 <div class="col-sm-4 col-md-4 col-lg-4">
				  <h5 class="project-title">
					 	<strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong></h5>
					 <h5 class="project-date">
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
			</div>
			{% endif %}
	    {% endfor %}
	</div>
  </div>
</div>