---
layout: layout
title: Blog
---

<div class="container">
<h3>Work</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
		{% if post.category contains 'project' %}
			<div class="row">

				
				 <div class="col-sm-6 col-md-6 col-lg-6">
				  <h5 style="text-align: right">
					 	<strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong></h5>
					 <h5 style="text-align: right">
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
				 <div class="col-sm-6 col-md-6 col-lg-6">
				 	<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" class="img-responsive"></a>

				 </div>
			</div>
			{% endif %}
	    {% endfor %}
	</div>
  </div>
</div>