<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}"><i class="fa fa-home"></i></a>
    </div>


     <div id="navbar">
      <nav class="navbar main-nav">
  <div class="container">
    <ul>
      <li class="mobile-button"><a href="#">Menu</a></li>
    <li><a href="#">Work</a></li>
    <li><a href="#">Words</a></li>
    <li><a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
    <li><a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a></li>
  </ul>
  </div>
</nav>
    </div>
   <!--  <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.url }}/blog.html">Words</a></li>
        <li><a href="{{ site.url }}/projects.html">Work</a></li>
        <li>{% include social-small.html %}</li>
      </ul>
    </div> -->
  </div>
</nav>

<!-- 
<nav class="navbar main-nav">
  <div class="container">
    <ul>
      <li class="mobile-button"><a href="#">Menu</a></li>
    <li><a href="#">Work</a></li>
    <li><a href="#">Words</a></li>
    <li><a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
    <li><a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a></li>
  </ul>
  </div>
</nav> -->