<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="{{ site.url }}"><span class="mdl-layout-title">{{ site.title }}</span></a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="http://lenamasek.website/about/">About</a>
        <a class="mdl-navigation__link" href="http://lenamasek.website/work/">Work</a>
        <a class="mdl-navigation__link" href="http://lenamasek.website/">Words</a>
      </nav>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="js-search__input">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder" >
          <input class="mdl-textfield__input super-search__input" type="text" id="js-search__input" />
        </div>
      </div>


    </div>
  </header>  