<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>i'm lena masek. i work on web + print projects at [torque](http://torque.digital) from concepting/ideation to front-end web development to print production. i also freelance the same for people, products, and small businesses.</h1>
                			
            </div>
            <!-- Large browser image 

            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            -->


        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->