// Colors

$main-color:        mediumslateblue;  // change this color for further customization 
                                      // I like http://colours.neilorangepeel.com/! Making colors semantic too ;)

$bg-color:          white; // background-color

$text-color:        #333; 
$link-color:        $main-color; 
$border-color:      #e0e1e6;
$main-border-color:	$main-color;
$smoke-color:       #fafafa;
$linear-gradient:	linear-gradient( rgba(123, 109, 226, 0.3), rgba(123, 109, 226, 0.95));


// Typography 

$font-family:       'Source Sans Pro', sans-serif;
$variant-family:    'Source Sans Pro', sans-serif;
$font-size-l:       1.25em; 
						// font-size on desktop type screens

$font-size-m:       $font-size-l * 0.9; 
						// font-size under 942px wide screens

$font-size-s:       $font-size-l * 0.75; 
						// font-size under 642px wide screens



// Spacings

$spacing-xxs:		.25em;
$spacing-xs:        $spacing-xxs * 2; // .5em
$spacing-xss:		$spacing-xxs + $spacing-xs; // .75em
$spacing-s:         $spacing-xs * 2; // 1em 
$spacing-sm:        $spacing-s + $spacing-xs; // 1.5 em
$spacing-m:         $spacing-sm + $spacing-xs; // 2 em
$spacing-ml:        $spacing-m + $spacing-xs; // 2.5 
$spacing-l:         $spacing-ml + $spacing-s; // 3.5
$spacing-xl:        $spacing-l + $spacing-s; // 4.5
$spacing-2x:		$spacing-xl + $spacing-sm;
$under-fixed-nav:	$spacing-s * 10;