@import url("normalize.css");

iframe {
	border-style: none;
}

body {
	background-color: #e7e2cd;
	font-family: 'Futura', sans-serif;
}

h1 {
	font-size: 112px;
	height: 70px;
	letter-spacing: 0.04em;
	line-height: 133px;
	color: #27251e;
	font-weight: 100;
}

.region-title {
	font-size: 53px;
	line-height: 64px;
	letter-spacing: 0.12em;
	color: #27251e;

	margin-top: 70px;
}

.region-title-column {
	font-size: 40px;
	line-height: 64px;
	letter-spacing: 0.12em;
	color: #27251e;

	margin-top: 70px;
}

.source-title {
	font-size: 36px;
	line-height: 50px;
	letter-spacing: 0.06em;
	font-weight: 900;
	color: #bba171;
}

.social-media-link {
	font-size: 26px;
	line-height: 50px;
	letter-spacing: 0.12em;
	color: #27251e;
}

.body-copy {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.12em;
	color: #27251e;
}

.secondary-text {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.12em;
	color: #bba171;
}

.nav-links {
	font-size: 13px;
	line-height: 100px;
	letter-spacing: 0.26em;
	color: #27251e;
}

.email-text {
	font-size: 26px;
	line-height: 50px;
	letter-spacing: 0.06em;
	color: #27251e;
}

.footer-text {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.12em;
	color: #e7e2cd;
}

.media-link-text {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.12em;
	color: #27251e;
}

p {
	margin: 0;
}











/* NAV */

nav {
	z-index: 1;

	text-align: right;

	width: 100%;
	height: 70px;

	margin: 0;

	background-color: #27251e;
}

nav ul {
	position: relative;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 35px;
	margin: 0;
	height: 100%;
}

nav li{
	float: right;
	color: #e7e2cd;
	height: 100%;
	padding: 0px 10px;
	margin: 0px;
}

nav li a {
	position: relative;
	color: #e7e2cd;
	text-decoration: none;
	top: -15px;
}

nav li:hover{
	color: #27251e;
	background-color: #e7e2cd;

	cursor: pointer;
}
nav li:hover a{
	color: #27251e;
}

.icon-container {
	width: 50px;
	height: 100%;
}

.icon-frame {
	position: relative;

	top: 27px;
	left: 16px;

	width: 15px;
	height: 15px;
}

.icon {
	position: inherit;
	margin: auto;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	width: 100%;
	height: 100%;
}

.twitter-nav {
	background-image: url('../img/icons/PNG/MC-Icons-02.png');
}
nav li:hover .twitter-nav{
	background-image: url('../img/icons/PNG/MC-Icons-08.png');
}

.facebook-nav {
	background-image: url('../img/icons/PNG/MC-Icons-01.png');
}
nav li:hover .facebook-nav{
	background-image: url('../img/icons/PNG/MC-Icons-07.png');
}

.email-nav {
	background-image: url('../img/icons/PNG/MC-Icons-05.png');
}
nav li:hover .email-nav{
	background-image: url('../img/icons/PNG/MC-Icons-11.png');
}






/* HEAD IMAGE */

.head-background-image {
	background: url("../img/screenshot.jpg") no-repeat center center;
	
	/*this looks kinda cool, show to lena and willy later*/
	/*background-attachment: fixed; */
	
	background-size: cover;
	position: absolute;
	top: 70px;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: auto;
}

.head-background-image:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background: -webkit-linear-gradient(top, rgba(231,226,205,0) 10%, rgba(231,226,205,1) 80%);
	background:    -moz-linear-gradient(top, rgba(231,226,205,0) 10%, rgba(231,226,205,1) 80%);
	background:      -o-linear-gradient(top, rgba(231,226,205,0) 10%, rgba(231,226,205,1) 80%);
	background:         linear-gradient(top, rgba(231,226,205,0) 10%, rgba(231,226,205,1) 80%);
}











/* LIGHTBOX */

.unscrollable {
	overflow: hidden;
}

.lightbox {
	position: fixed;
	visibility: hidden;

	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2;
}

.lightbox-container {
	width: 100%;
	height: 100%;
	padding: 20px;	

	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.lightbox-nav-container {
	position: relative;
	
	width: 100%;
	height: 100%;
	top: 50%;

	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

.lightbox-container img {
	border-style: none;
	width: calc(100% - 60px);
	height: auto;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
}

.lightbox-arrow-left,
.lightbox-arrow-right {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.lightbox-arrow-left {
	left: 0;
	border-right: 15px solid #888;
}

.lightbox-arrow-left:hover {
	border-right: 15px solid #DDD;
	cursor: pointer;
}

.lightbox-arrow-right {
	right: 0;
	border-left: 15px solid #888;
}

.lightbox-arrow-right:hover {
	border-left: 15px solid #DDD;
	cursor: pointer;
}

.lightbox-close {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 0px;
	top: 0px;
}

/* draw the X shape */
.lightbox-close:before, 
.lightbox-close:after{
	content: '';
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #888;
    border-radius: 2px;
    top: 10px;
}

.lightbox-close:before{
	left: 1px;

	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}

.lightbox-close:after{
	right: 1px;

	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.lightbox-close:hover:before,
.lightbox-close:hover:after{
    background-color: #DDD;
    cursor: pointer;
}










/* BODY/CONTENT */

.content-container{
	margin: 0;
	width: 100%;
	height: 100%;
}

.content {
	width: 100%;
	max-width: 1000px;
	margin: 70px auto 0 auto;
}

.logo-container{
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 170px;
}

/*.logo-container img {
	width: 90%;
	margin: auto;
	border-style: none;
}*/

.video-container {
	position: relative;
	margin: 35px 10px 0px 10px;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.region-container {
	text-align: center;
	height: auto;
	margin: 170px 10px 0px 10px;
	overflow: auto;
}

.region-description {
	text-align: center;
	padding: 35px 12.5px 0px 12.5px;
}

.gallery-container-grid {
	max-width: 860px;
	margin: 0 auto;
	height: auto;
	text-align: center;
}

.gallery-item, 
.preview-item{
	float: left;
	list-style-type: none;
	padding: 35px 17.5px 0px 17.5px;
}

.gallery-item img,
.preview-item img{
	width: 250px;
	height: 170px;
}

.two-column {
	width: 100%;
	max-width: 860px;
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}

.column-item {
	float: left;
	margin: 0 auto;
	width: 50%;
}

.email-container {
	padding-top: 35px;
	width: 80%;
	margin: 0 auto;
}

.email-input {
	width: 80%;
	height: 70px;
	max-width: 400px;

	border-style: solid;
	border-width: 5px;
	border-color: #bba171;
	border-radius: 0;
	box-sizing: border-box;

	padding-left: 20px;

	background-color: #e7e2cd;
}

.email-button {
	position: relative;
	left: -5px;
	top: -1px;
	width: auto;
	max-width: 200px;
	height: 70px;

	border: none;
	border-radius: 0;
	background-color: #bba171;
	color: #e7e2cd;
}

.center-quote-container {
	width: 60%;
	max-width: 600px;
	margin: 70px auto 0 auto;
}

.column-quote-container {
	width: 100%;
	overflow: auto;
	margin: 70px auto 0 auto;
}

.column-quote {
	float: left;
	width: 50%;
}

.quote {
	text-align: center;
	margin-bottom: 20px;
}

.quote-source {
	text-decoration: none;
	text-align: center;
}

.social-media-grid {
	width: 400px;
	margin: 70px auto 0 auto;
	overflow: auto;
}

.media-link {
	float: left;
	width: 50%;
	height: 35px;
	text-align: left;

	position: relative;
	left: 12.5%;
}

.media-link img {
	width: 15px;
	height: 15px;
}

.contact-column {
	width: 200px;
	margin: 35px auto 70px auto;
	text-align: center;
	overflow: auto;
}

.contact-column .media-link {
	width: 100%;
	left: 25%;
}

.media-link img {
	width: 15px;
	height: 15px;
}

footer {
	text-align: center;
	width: 100%;
	height: 105px;
	background-color: #bba171;
}

footer p {
	padding-top: 35px;
}

@media (max-width: 1220px){
	h1 {
		font-size: 9.0vw;
	}
}

@media (max-width: 880px), (max-device-width: 880px) {
	.head-background-image:after{
		background: -webkit-linear-gradient(top, rgba(231,226,205,0), rgba(231,226,205,1) 60%);
		background:    -moz-linear-gradient(top, rgba(231,226,205,0), rgba(231,226,205,1) 60%);
		background:      -o-linear-gradient(top, rgba(231,226,205,0), rgba(231,226,205,1) 60%);
		background:         linear-gradient(top, rgba(231,226,205,0), rgba(231,226,205,1) 60%);
	}
	
	.region-container {
		margin-top: 35px;
	}

	.column-item {
		overflow: initial;
		float: none;
		width: 100%;
	}

	.email-container {
		overflow: initial;
	}

	.email-input {
		max-width: none;
	}

	.email-button {
		position: static;
		width: 80%;
		max-width: none;
		padding: 0 auto;
		margin: 0 auto;
		top: 69px;
	}

	.gallery-item{
		width: 100%;
		height: auto;
		padding-top: 35px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.gallery-item img{
		width: 90%;
		height: 100%;
	}

	.preview-item {
		width: 50%;
		height: auto;
		padding-top: 35px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.preview-item img {
		width: 100%;
	}
}


@media (max-width: 600px), (max-device-width: 600px) {
	.region-title {
		font-size: 9.0vw;
	}

	.column-quote-container {
		margin-top: 0px;
	}

	.column-quote {
		width: 100%;
		margin: 70px auto 0 auto;
	}
}

@media (max-width: 450px), (max-device-width: 450px) {
	.nav-links {
		font-size: 13px;
		line-height: 50px;
		letter-spacing: 0.1em;
	}

	nav li a {
		top: 10px;
	}

	.icon-container {
		width: 25px;
		height: 100%;
	}	

	.icon-frame {
		left: 5px;
	}

	nav ul {
		padding-right: 0px;
	}
}

@media (max-width: 410px), (max-device-width: 410px) {	
	.gallery-item img {
		width: 100%;
	}
}