---
layout: default
title: Blog
---

<div id="home">

<section class="span_6_of_6" id="hero"></section>

<section class="single-wrap">
     <h1 class="page-title" itemprop="name headline">words</h1>
</section>

<section class="single-wrap">
  <article class="single-content">
  <ul class="posts">
    {% for post in paginator.posts %}
    {% if post.category contains 'blog' %}
    <li itemscope itemtype="http://schema.org/BlogPosting">
        <div>
             <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url" id="post-title-link"><h3 itemprop="name headline">{{ post.title }}</h3></a>
            <time datetime="{{ post.date | date_to_xmlschema }}"
              itemprop="datePublished">
            <h4>{{ post.date | date_to_string }}</h4>
          </time> 
        </div>
       {{ post.excerpt }}

      <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">
        <button class="readmore p-wrap"><p>Read More</p></button>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
</article>
</section>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
  <a href="/page/{{paginator.next_page}}" class="older">Older</a>
  {% else %}
  <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a href="/" class="newer">Newer</a>
    {% else %}
    <a href="/page/{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
  <span class="previous">Newer</span>
  {% endif %}
</div>
{% endif %}
