* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  font: $font-size-l $font-family;
  color: $text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  @media (max-width: 942px) {
    font-size: $font-size-m; 
  }
  @media (max-width: 642px) {
    font-size: $font-size-s; 
  }
}

h1, 
h2, 
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 { 
  font-size: 250%; 
  margin: $spacing-xs 0;
  font-weight:300;
}

h2 { 
  font-size: 180%; 
  font-style: italic; 
  margin: $spacing-s 0 $spacing-xs;
}

h3 { 
  font-size: 150%; 
  font-weight: lighter; 
  margin: $spacing-xs 0 $spacing-xs;
}

h4 { 
  font-size: 80%; 
  font-weight: bold;
  text-transform: lowercase; 
  letter-spacing: 3px;
  margin: $spacing-xs 0 $spacing-xs;
  color: lighten($text-color, 40%);
}

h5 { 
  @extend h4;
  text-align: center;
}

h6 { 
  @extend h4;
  text-align: right;
}

p { 
  margin: 1.3em 0; 
  line-height: 1.6;
}

small { 
  font-size: 60%; 
}

::selection  {
  background:$main-color;
  color:$smoke-color;
}

::-moz-selection  {
  background:$main-color;
  color:$smoke-color;
}



ul li { list-style-type: circle; }
ol li { list-style-type: decimal; }

a { 
  color: $link-color; 
  &:hover {
    color: $text-color;
  }
}
.menu-link {
  float:right;
}

img, object, svg { 
  width:100%; 
}


/* ================================================================== 
*     
*     Icon-Nav Bar 
*
================================================================== */

ul.icon-nav {
  display:inline;
 
    li {
      display:inline;
      margin: 0 0 0 40px;    
  
        img {
          height: 15px;
          width: auto;
        } 
        a {
          text-decoration:none;
        } 
        a.current {
          padding-bottom:7px;
          border-bottom:3px solid mediumslateblue;
        }
    }
    li:first-child {
      margin-left:40px;
    }
}

  


@media screen and (max-width:550px) {
  
  ul.icon-nav {
    margin-top:10px;
    display: block;
    text-align: center;

    li {
      margin: 0 20px 0 20px;

      img {
        height:15px;
        width: auto;
      }
    }

    li:first-child {
      margin-left: 0px;
    }

    li:last-child {
     margin-right: 0px;
    }

  }

  header {
    position:fixed;
    box-shadow:0px 1px 5px #e0e1e6;
    z-index: 2;
  }

  .h-wrap {
    text-align:center;
    padding:1.25em 0 1.8em 0;

    h1.title {
      margin-bottom:10px;
    }
  }
}

/* ================================================================== 
*     
*     Front Page
*
================================================================== */


.page-title#frontpg {
    text-align: center;
    padding-bottom: $spacing-s;
}

button {
  border: 1px #fff solid;
  background: transparent;
  border-radius: 15px;
  padding: 12px 50px;
  margin:40px;
}

section.what-here {
  background:$main-color;
  color:$smoke-color;
  padding:$spacing-s 0;
}


@media screen and (max-width:550px) {
  .page-title#frontpg {
    margin-top:150px;
}
  
}



/* ================================================================== 
*     
*     Grid
*
================================================================== */


/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 2%;
}
.col:first-child { margin-left: 0; }
.col:last-child {margin-right:0;}


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 83%;
}

.span_4_of_6 {
    width: 66%;
}

.span_3_of_6 {
    width: 49%;
}

.span_2_of_6 {
    width: 32%;
}

.span_1_of_6 {
    width: 15%;
}

/*  GO FULL WIDTH BELOW 759 PIXELS */
@media only screen and (max-width: 759px) {
  .col { 
    margin: 1% 0 1% 0%; 
  }

  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }

  .group { 
    margin: 0 $spacing-s;
  }
}

@media only screen and (max-width:550px) {
  .group {
    margin: 0 $spacing-xs;
  }
}


/* ================================================================== 
*     
*     Work Page
*
================================================================== */

.portfolio-item {
  box-sizing:border-box;
  height: 200px;
  padding:140px 20px 0px 15px;
  text-align:left;
  color:$smoke-color;
  background-size: cover !important;

    p.subtitle {
      font-style: italic;
      margin: 5px 0;
      font-size: 70%;
      line-height: 1.3em;
    }
}




#bitbash {
  background: $linear-gradient, url(http://lenamasek.github.io/assets/img/bitbash.png) no-repeat center;
}


#truth {
  background: $linear-gradient, url(http://lenamasek.github.io/assets/img/thetruth.png) no-repeat center;
}

#pr-brand {
  background: $linear-gradient, url(http://lenamasek.github.io/assets/img/priester/Priester-Inside1.jpg) no-repeat center;

 
}

#pr-mobile {
  background: $linear-gradient, url(http://lenamasek.github.io/assets/img/pa-5-screens.jpg) no-repeat center;
}

#bitbash:hover, 
#truth:hover, 
#pr-brand:hover, 
#pr-mobile:hover {
  opacity:.5;
}



@media only screen and (max-width:759px) {
  
  .portfolio-item {
    padding:135px 20px 0px 20px;
    font-size:130%;
  }
}

/* ================================================================== 
*     
*    Media Queries
*
================================================================== */


@media only screen and (max-width:550px) {
#home {
    margin-top:$under-fixed-nav;
}

#home404 {
    margin-top:$spacing-2x;
}

.single-wrap {
    padding:0 1em;
}
}
.dingus {
    position:absolute;
    opacity:.8;
    text-align:center;
    width:100%;
    color:#f5f5f5;
    padding:25px;
}