// Typography
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colors
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #666666;
$link-color: #1ec4bc;
$selection-color: #1ec4bc; // visible when highlighting text

// Header colours
$header-link-color: #1c3f5e;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #1ec4bc;
$header-desc-text-color: #FFF;
